# Secret key for authentication. (You can use Online UUID generator: https://www.uuidgenerator.net)
BETTER_AUTH_SECRET=
# Github OAuth App ID & Secret see https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# List of emails that will be given all roles. (comma separated)
SUPER_ADMIN_EMAILS=